In [4]:
from os import listdir
import pandas as pd
import psycopg2
import datetime

In [5]:
conn = psycopg2.connect(host="postgres_boticario", dbname="boticario", user="boticaro", password="boticario")

In [8]:
df = pd.read_csv("../data/Base_2017_1.csv", sep=';'
)

In [9]:
df

     ID_MARCA          MARCA  ID_LINHA       LINHA  DATA_VENDA  QTD_VENDA
0           1      BOTICÁRIO         1     CABELOS  27/03/2018          9
1           4           VULT         1     CABELOS  03/02/2018          3
2           2         EUDORA         1     CABELOS  21/10/2018          7
3           2         EUDORA         4       SOLAR  22/04/2018         13
4           5  BELEZA NA WEB         3   MAQUIAGEM  21/03/2018          9
..        ...            ...       ...         ...         ...        ...
995         1      BOTICÁRIO         4       SOLAR  09/07/2018         16
996         5  BELEZA NA WEB         2  PERFUMARIA  14/10/2018         10
997         5  BELEZA NA WEB         4       SOLAR  08/09/2018         11
998         1      BOTICÁRIO         3   MAQUIAGEM  21/04/2018         18
999         4           VULT         3   MAQUIAGEM  30/06/2018          6

[1000 rows x 6 columns]

In [21]:
def list_files():
    list_files = listdir('../data/')
    final = []
    for file in list_files:
        print(len(file.split('.')))
        if len(file.split('.')) == 2:
            final.append(file)
            
    return final

def return_df_file(file):
    df = pd.read_csv(f'data/{file}', sep=';')
    return df

In [22]:
files = list_files()

3
3
3
2
2
2

In [23]:
files

['Base_2017_1.csv', 'Base_2018_2.csv', 'Base_2019_3.csv']

In [2]:
sql_1 = '''select sum(qtd_venda), extract(MONTH from data_venda) mes, extract(YEAR from data_venda) ano
            from boticario.base_total
            GROUP BY mes,ano;'''

In [7]:
df_1 = pd.read_sql(sql_1, conn)

In [9]:
df_1

     sum   mes     ano
0   2363   6.0  2018.0
1   3125  10.0  2018.0
2   2673  12.0  2018.0
3   2801   7.0  2018.0
4   2510   8.0  2018.0
5   2616  11.0  2018.0
6   2773   1.0  2018.0
7   2717   5.0  2018.0
8   2193   4.0  2018.0
9   2500   9.0  2018.0
10  2532   3.0  2018.0
11  2211   2.0  2018.0

In [11]:
sql_2='''select sum(qtd_venda), marca, linha
            from boticario.base_total
            GROUP BY marca,linha;'''

In [12]:
df_2 = pd.read_sql(sql_2, conn)

In [13]:
df_2

     sum                marca        linha
0   1220            BOTICÁRIO        SOLAR
1   1160        BELEZA NA WEB   PERFUMARIA
2   1135               EUDORA      CABELOS
3   1229               EUDORA    MAQUIAGEM
4   1162            BOTICÁRIO  HIDRATANTES
5   1380  QUEM DISSE BERENICE  HIDRATANTES
6   1254        BELEZA NA WEB      CABELOS
7   1308                 VULT  HIDRATANTES
8   1351        BELEZA NA WEB    MAQUIAGEM
9   1258  QUEM DISSE BERENICE        SOLAR
10  1153               EUDORA   PERFUMARIA
11  1108                 VULT        SOLAR
12   982  QUEM DISSE BERENICE   PERFUMARIA
13  1153                 VULT   PERFUMARIA
14  1023               EUDORA        SOLAR
15  1645            BOTICÁRIO      CABELOS
16  1199               EUDORA  HIDRATANTES
17  1211            BOTICÁRIO    MAQUIAGEM
18  1302                 VULT      CABELOS
19  1402  QUEM DISSE BERENICE    MAQUIAGEM
20  1060                 VULT    MAQUIAGEM
21  1341  QUEM DISSE BERENICE      CABELOS
22  1315        BELEZA NA WEB  HIDRATANTES
23  1351        BELEZA NA WEB        SOLAR
24  1312            BOTICÁRIO   PERFUMARIA

In [14]:
sql_3 = '''select sum(qtd_venda), extract(MONTH from data_venda) mes, extract(YEAR from data_venda) ano, marca
            from boticario.base_total
            GROUP BY mes,ano,marca;'''

In [15]:
df_3 = pd.read_sql(sql_3, conn)

In [16]:
df_3

    sum   mes     ano                marca
0   509   9.0  2018.0            BOTICÁRIO
1   670   7.0  2018.0            BOTICÁRIO
2   439   4.0  2018.0        BELEZA NA WEB
3   534   8.0  2018.0            BOTICÁRIO
4   592  12.0  2018.0            BOTICÁRIO
5   641  10.0  2018.0            BOTICÁRIO
6   400   5.0  2018.0               EUDORA
7   447   4.0  2018.0                 VULT
8   641  11.0  2018.0               EUDORA
9   580   8.0  2018.0                 VULT
10  512   7.0  2018.0                 VULT
11  761  10.0  2018.0        BELEZA NA WEB
12  506   9.0  2018.0                 VULT
13  549   1.0  2018.0               EUDORA
14  531  12.0  2018.0        BELEZA NA WEB
15  530   8.0  2018.0        BELEZA NA WEB
16  469   4.0  2018.0            BOTICÁRIO
17  529   6.0  2018.0  QUEM DISSE BERENICE
18  627  12.0  2018.0                 VULT
19  589   7.0  2018.0        BELEZA NA WEB
20  548  10.0  2018.0                 VULT
21  457   9.0  2018.0        BELEZA NA WEB
22  616   5.0  2018.0  QUEM DISSE BERENICE
23  425   2.0  2018.0            BOTICÁRIO
24  444   3.0  2018.0                 VULT
25  445   3.0  2018.0        BELEZA NA WEB
26  427   6.0  2018.0               EUDORA
27  405   2.0  2018.0                 VULT
28  579   3.0  2018.0            BOTICÁRIO
29  511   1.0  2018.0  QUEM DISSE BERENICE
30  570  11.0  2018.0  QUEM DISSE BERENICE
31  446   2.0  2018.0        BELEZA NA WEB
32  432   9.0  2018.0               EUDORA
33  508   1.0  2018.0                 VULT
34  469   7.0  2018.0               EUDORA
35  427   8.0  2018.0               EUDORA
36  435  11.0  2018.0                 VULT
37  612   1.0  2018.0        BELEZA NA WEB
38  588  10.0  2018.0               EUDORA
39  426  12.0  2018.0               EUDORA
40  619   5.0  2018.0            BOTICÁRIO
41  468  11.0  2018.0        BELEZA NA WEB
42  410   2.0  2018.0  QUEM DISSE BERENICE
43  502  11.0  2018.0            BOTICÁRIO
44  618   5.0  2018.0        BELEZA NA WEB
45  593   1.0  2018.0            BOTICÁRIO
46  422   4.0  2018.0               EUDORA
47  464   5.0  2018.0                 VULT
48  631   3.0  2018.0  QUEM DISSE BERENICE
49  525   2.0  2018.0               EUDORA
50  455   6.0  2018.0                 VULT
51  497  12.0  2018.0  QUEM DISSE BERENICE
52  587  10.0  2018.0  QUEM DISSE BERENICE
53  535   6.0  2018.0        BELEZA NA WEB
54  439   8.0  2018.0  QUEM DISSE BERENICE
55  561   7.0  2018.0  QUEM DISSE BERENICE
56  596   9.0  2018.0  QUEM DISSE BERENICE
57  433   3.0  2018.0               EUDORA
58  417   6.0  2018.0            BOTICÁRIO
59  416   4.0  2018.0  QUEM DISSE BERENICE

In [17]:
sql_4 = '''select sum(qtd_venda), extract(MONTH from data_venda) mes, extract(YEAR from data_venda) ano, linha
            from boticario.base_total
            GROUP BY mes,ano,linha;'''

In [18]:
df_4 = pd.read_sql(sql_4, conn)

In [19]:
df_4

    sum   mes     ano        linha
0   603   5.0  2018.0        SOLAR
1   421   2.0  2018.0    MAQUIAGEM
2   391   2.0  2018.0   PERFUMARIA
3   707  11.0  2018.0      CABELOS
4   411   4.0  2018.0  HIDRATANTES
5   680   1.0  2018.0      CABELOS
6   446   8.0  2018.0  HIDRATANTES
7   526   5.0  2018.0      CABELOS
8   490   9.0  2018.0  HIDRATANTES
9   532   7.0  2018.0  HIDRATANTES
10  543   1.0  2018.0        SOLAR
11  625   3.0  2018.0    MAQUIAGEM
12  702  10.0  2018.0  HIDRATANTES
13  432  11.0  2018.0        SOLAR
14  581  12.0  2018.0  HIDRATANTES
15  403   3.0  2018.0   PERFUMARIA
16  566  12.0  2018.0   PERFUMARIA
17  580   3.0  2018.0  HIDRATANTES
18  483  10.0  2018.0    MAQUIAGEM
19  509  12.0  2018.0    MAQUIAGEM
20  600  10.0  2018.0   PERFUMARIA
21  533   9.0  2018.0   PERFUMARIA
22  607   7.0  2018.0   PERFUMARIA
23  436   9.0  2018.0    MAQUIAGEM
24  529   7.0  2018.0    MAQUIAGEM
25  662   8.0  2018.0    MAQUIAGEM
26  590   6.0  2018.0      CABELOS
27  413   8.0  2018.0   PERFUMARIA
28  529   4.0  2018.0    MAQUIAGEM
29  422   4.0  2018.0   PERFUMARIA
30  556   2.0  2018.0  HIDRATANTES
31  438   6.0  2018.0        SOLAR
32  451   4.0  2018.0      CABELOS
33  590   1.0  2018.0  HIDRATANTES
34  735  10.0  2018.0        SOLAR
35  555  11.0  2018.0  HIDRATANTES
36  443  12.0  2018.0        SOLAR
37  427   8.0  2018.0        SOLAR
38  532   7.0  2018.0        SOLAR
39  483   9.0  2018.0        SOLAR
40  605  10.0  2018.0      CABELOS
41  574  12.0  2018.0      CABELOS
42  380   4.0  2018.0        SOLAR
43  558   9.0  2018.0      CABELOS
44  414   5.0  2018.0  HIDRATANTES
45  601   7.0  2018.0      CABELOS
46  562   8.0  2018.0      CABELOS
47  402   6.0  2018.0    MAQUIAGEM
48  426   6.0  2018.0   PERFUMARIA
49  507   6.0  2018.0  HIDRATANTES
50  457   5.0  2018.0   PERFUMARIA
51  717   5.0  2018.0    MAQUIAGEM
52  436   3.0  2018.0      CABELOS
53  456   2.0  2018.0        SOLAR
54  387   2.0  2018.0      CABELOS
55  488   3.0  2018.0        SOLAR
56  486  11.0  2018.0   PERFUMARIA
57  436  11.0  2018.0    MAQUIAGEM
58  504   1.0  2018.0    MAQUIAGEM
59  456   1.0  2018.0   PERFUMARIA

In [1]:
sql_teste = 'select * from boticario.tabela_1;'

In [6]:
df_teste = pd.read_sql(sql_teste, conn)

In [7]:
df_teste

    total  mes   ano
0    2616   11  2018
1    2773    1  2018
2    2717    5  2018
3    2363    6  2018
4    2193    4  2018
5    3125   10  2018
6    2673   12  2018
7    2500    9  2018
8    2801    7  2018
9    2510    8  2018
10   2532    3  2018
11   2211    2  2018